Pracownia/Service References/BmwWawa/BmwWawa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BMW_Wawa.DO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BMW_Wawa.DO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53383/BmwWawa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCarWawa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarWawa" nillable="true" type="tns:CarWawa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarWawa" nillable="true" type="tns:ArrayOfCarWawa" />
  <xs:complexType name="CarWawa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:int" />
      <xs:element minOccurs="0" name="Kolor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moc" type="xs:int" />
      <xs:element minOccurs="0" name="Nadwozie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pojemnosc" type="xs:int" />
      <xs:element minOccurs="0" name="Seria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Silnik" type="ser:char" />
      <xs:element minOccurs="0" name="Skrzynia" type="ser:char" />
      <xs:element minOccurs="0" name="Wersja" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarWawa" nillable="true" type="tns:CarWawa" />
</xs:schema>